parameters:
    level: 5
    scanDirectories:
        - ../../../../bitrix/modules
        - ../../../../local/php_interface
    scanFiles:
        # Инит
        - ../../init.php
        - ../../init/.bootstrap.php
    excludePaths: #TODO: разобраться этими исключенияеми
        - ../../../../local/php_interface/lib/Bxx/Abstraction/Table.php
    ignoreErrors:
        - '#Trait Bxx\\Traits\\#'
        #TODO: разобраться с этими исключениями:
        - '#Call to an undefined method Bitrix\\Main\\Data\\Connection::#'